body {
    margin: auto 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: blue;
}
.cell {
    font-size: 1.4rem;
    text-shadow:  rgba(0,0,0,1) 3px 3px 3px;
    text-align: center;
    line-height: 1.2;
}
.cover {
    background-color: black;
    background: fill;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;  
}
.footer {
    background-color: black;
    border: 10px lightgrey ridge;
    padding: 20px;
    text-align: center;
    line-height: 2;
}
.project-grid {
    background-image: url("bckgrnd.png");
    background-repeat: repeat;
    padding: 50px 0px;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px 10px;   
    justify-items: center;
}
.navbar {
    border: 10px lightgrey ridge;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: .54rem;
    margin: 0;
}
.here {
    margin: auto auto auto 0px;
    padding: 5px;
}
#push {
    margin: auto 0px auto auto;
}